[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glad"]
	path = glad
	url = https://github.com/Dav1dde/glad.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
